@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "UserOperations", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>ot log in</li>
        <li>@Html.ActionLink("Register", "Register", "UserOperations", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "UserOperations", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
