@using System.Web.Mvc.Html
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>Sorry, you need authorization in order to access this feature!</h3>
        @Html.ActionLink("Login", "Login", "UserOperations");
        @Html.ActionLink("Register", "Register", "UserOperations");
    </div>
</body>
</html>
