@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Sorry, but your e-mail or password is incorect or you are not registered yet!</h3>

<p>@Html.ActionLink("Login", "Login", "UserOperations")</p>
<p>@Html.ActionLink("Register now", "Register","UserOperations")</p>

