@{
    ViewBag.Title = "Business Trip Added";
}

<h2>Business trip registered successfully</h2>

<p> Click here to view all your business trips registered so far : @Html.ActionLink("View your business trips", "GetUserBusinessTrips") <p>
